/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

.ln-wrap-line {
  word-wrap: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Add the lines below */
@layer utilities {

  footer {
    li {
      @apply mb-2
    }

    li {
      a {
        @apply hover:text-primary
      }
    }

    h3 {
      @apply mb-4 text-sm opacity-90
    }
  }


  @variants responsive {
    .masonry {
      column-count: 3;
      column-gap: 2em;
    }

    .break-inside {
      break-inside: avoid;
    }
  }

  #station-cards > div {
    @apply shadow-md bg-white rounded p-4 mb-6 break-inside
  }

  #station-cards h2 {
    @apply text-xl font-medium mb-4
  }

  #station-cards #card-social-media a {
    @apply hover:text-primary border-0 border-b last:border-0
  }

  #station-cards #card-app-store {
    @apply bg-black text-white
  }

  #station-cards #card-website {
    @apply px-0
  }

  #track-progress {
    border-radius: 0;
  }

  input[type='range'] {
    width: 100%;
    border-radius: 8px;
    height: 5px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    background: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(#F5AB19, #F5AB19);
    background-size: 0% 100%;
    background-repeat: no-repeat;
  }

  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #F5AB19;
    cursor: pointer;
    border: none;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #F5AB19;
    cursor: pointer;
    border: none;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #F5AB19;
    cursor: pointer;
    border: none;
  }

  input[type=range][orient=vertical]
  {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
  }

  .tag {
    @apply px-1 sm:py-1 py-4 hover:text-primary hover:underline text-sm
  }

  .tag span {
    @apply flex flex-row items-center
  }

  .description {
    @apply text-sm break-words
  }

  .description {
    * {
      @apply text-sm break-words
    }

    code {
      @apply block overflow-hidden
    }

    ul {
      list-style: inside disc;
    }

    ol {
      list-style: inside decimal;
    }

    ol, ul {
      @apply my-4 pl-4
    }

    p {
      @apply mb-2
    }

    blockquote {
      @apply my-4 ml-4 pl-2 border-l-2
    }

    h3 {
      @apply text-lg my-4
    }

    li p {
      @apply m-0 inline
    }
  }

  .podcast-list {
    article {
      @apply py-4 border-gray-200 border-b text-gray-600 last:border-b-0 first:pt-0
    }

    h2 {
      @apply text-secondary sm:text-lg text-base font-medium leading-none text-gray-600
    }

    .description {
      @apply line-clamp-2 mt-2
    }

    .description * {
      display: initial;
    }
  }

  .search-menu {
    @apply flex flex-wrap sm:justify-start justify-center sm:mt-8 mt-6 sm:text-xl text-base
  }

  .search-menu .active {
    @apply opacity-100
  }

  .search-menu .active span {
    @apply border-b-2 border-primary
  }

  .search-menu a {
    @apply p-3 hover:opacity-100 opacity-60 font-semibold
  }

  .search-menu span {
    @apply border-b-2 hover:border-primary border-transparent
  }

  .see-all {
    @apply text-sm px-3 py-1 rounded-full border border-gray-200 hover:bg-gray-100 flex-none
  }

  .load-more {
    @apply block mx-auto px-6 py-2 border-2 border-gray-200 rounded-full hover:border-primary font-semibold text-sm
  }

  .border-bottom {
    @apply mb-4 pb-4 border-b border-gray-200
  }

  .text-muted {
    @apply opacity-80
  }

  .flex-line {
    @apply flex flex-row items-center
  }

  .consent {
    --cc-btn-primary-bg: #212124;
  }
}

.triton-pixel {
  width: 0 !important;
  height: 0 !important;
}

iframe {
  display: none;
}

img[height="0"] {
  height: 0;
}